.font-customised {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 201, 185);
    padding: 8px
}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    padding: 0px;
    color: rgb(44, 201, 185)
}

.h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    padding: 0px;
    color: rgb(44, 201, 185)
}

.h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.gray-background {
    background-color: gray;
}
