/* .font-customised {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 201, 185);
    padding: 8px
}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 32px;
    color: rgb(44, 201, 185)
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 12px;
    color: rgb(44, 201, 185)
}

.gray-background {
    background-color: gray;
} */
